<!DOCTYPE html>
<html>
  <head>
    <title>Fieber-Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.google.com/recaptcha/api.js?render=6LekLOQUAAAAAF8ZgQtqSZLkObH5iOXHTU_UZO3H"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class="notification is-primary" id="erfolgreich">Ihre Daten wurden hinzugefügt.</div>
    <div class="notification is-primary" id="gute-besserung">Ihre Daten wurden hinzugefügt. Gute Besserung!</div>
    <div class="notification is-danger" id="falschePLZ">Diese PLZ ist ungültig.</div>
    <div class="notification is-danger" id="falscheTemperatur">Diese Temperatur ist ungültig.</div>
    <div class="notification is-danger" id="fehlendeDaten">Ungültige Anfrage.</div>

    <div id="fewerMap"></div>

    <div id="titleWidget" class="card">
      <header class="card-content">
        <h1 class="title">
          <i class="fa fa-thermometer-three-quarters"></i>&nbsp;&nbsp;Fieber-Tracker
        </h1>
        <p class="subtitle">powered by tbd.</p>
        <button onclick="toggleReportForm()" class="button is-primary is-rounded">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
          <span>Temperatur melden</span>
        </button>
        <br>
        <br>
        <h2><i class="fa fa-calendar-alt"></i>&nbsp;&nbsp;<span id="currentDate"></span></h2>
      </header>
      <footer class="card-footer">
        <a onclick="addToCurrentDate(-1)" class="card-footer-item">- 1</a>
        <a onclick="setCurrentDateToday()" class="card-footer-item">Heute</a>
        <a onclick="addToCurrentDate(1)" class="card-footer-item">+ 1</a>
      </footer>
    </div>

    <div id="bottomWidget" class="card">
      <div class="card-content">
        <p class="is-size-5">
          <i class="fa fa-map-marker-alt"></i>&nbsp;&nbsp;<span id="currentPLZArea"></span>
        </p>
        <p class="is-size-5">
          <i class="fa fa-thermometer-half"></i>&nbsp;&nbsp;<span id="currentAvgTemp"></span>
        </p>
      </div>
    </div>

    <footer id="mainFooter" class="has-text-centered">
      <a onclick="toggleImprintModal()" class="button is-white is-rounded is-small">
      <span class="icon">
        <i class="fa fa-info"></i>
      </span>
        <span>Impressum</span>
      </a>

      <a onclick="togglePrivacyModal()" class="button is-white is-rounded is-small">
      <span class="icon">
        <i class="fa fa-eye"></i>
      </span>
        <span>Datenschutz</span>
      </a>
    </footer>

    <button id="loading" class="button is-primary is-loading">Karte wird geladen</button>

    <div id="addReportForm" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Temperatur melden</p>
        </header>
        <form action="/neue-messung" method="post">
          <section class="modal-card-body">
            <div class="field">
              <label class="label">Gemessene Körpertemperatur in °C</label>
              <div class="control">
                <input class="input" id="temp" name="temp" required type="number" min="35" max="42" step="0.01">
              </div>
            </div>
            <div class="field">
              <label class="label">Die ersten drei Ziffern deiner PLZ</label>
              <div class="control">
                <input class="input" id="plz" name="plz" required type="text" maxlength="3" minlength="3">
              </div>
            </div>
            <div class="field">
              <label class="label">Alter in Jahren</label>
              <div class="control">
                <input class="input" id="age" name="age" required type="number" min="0" max="130">
              </div>
            </div>
            <label class="checkbox">
              <input type="checkbox" required>
              Ich stimme den <a onclick="togglePrivacyModal()">Datenschutzbestimmungen</a> zu
            </label>
            <br><br>
            <p>Die von dir angegebenen Daten werden zusätzlich mit dem aktuellen Datum und der Uhrzeit verknüpft. <br><br>
              Eine Verknpüfung mit weiteren Informationen (z.B. deiner IP-Adresse) findet <strong>nicht</strong> statt.</p>
          </section>
          <footer class="modal-card-foot">
            <input type="text" hidden name="grecaptcha" id="grecaptcha" value="a">
            <input type="submit" class="button is-primary" value="Abschicken">
            <button onclick="toggleReportForm()" class="button">Abbrechen</button>
          </footer>
        </form>
      </div>
      <button onclick="toggleReportForm()" class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="privacyInformation" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Datenschutzerklärung</p>
        </header>

        <section class="modal-card-body">
          <div class="content">
            <p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:</p>
            <br>
            <p>Nikolas Knickrehm<br>
              Bülowstraße 51<br>
              23566 Lübeck</p>

            <h2>Ihre Betroffenenrechte</h2>
            <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
            <ul>
              <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
              <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
              <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
              <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen (Art. 18 DSGVO),</li>
              <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
              <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben (Art. 20 DSGVO).</li>
            </ul>
            <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.</p>
            <p>Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige Behörde.</p>
            <p>Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank" rel="nofollow noopener">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
            <p></p><h2>Erfassung allgemeiner Informationen beim Besuch unserer Website</h2>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren oder anderweitig Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches. </p>
            <p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
            <ul>
              <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
              <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
              <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
              <li>zu weiteren administrativen Zwecken.</li>
            </ul>
            <p>Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Informationen dieser Art werden von uns ggfs. statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu optimieren.</p>
            <h3>Rechtsgrundlage:</h3>
            <p>Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.</p>
            <h3>Empfänger:</h3>
            <p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter tätig werden.</p>
            <h3>Speicherdauer:</h3>
            <p>Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist für die Daten, die der Bereitstellung der Webseite dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet ist.</p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein. Aus diesem Grund ist ein Widerspruch ausgeschlossen. </p>
            <p></p><h2>SSL-Verschlüsselung</h2>
            <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
            <p></p><h2>Änderung unserer Datenschutzbestimmungen</h2>
            <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
            <h2>Fragen an den Datenschutzbeauftragten</h2>
            <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für den Datenschutz verantwortliche Person in unserer Organisation:</p>
            <p>Nikolas Knickrehm<br>me@nikolask.de</p>
            <p><em>Die Datenschutzerklärung wurde mithilfe der activeMind AG erstellt, den Experten für <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">externe Datenschutzbeauftragte</a> (Version #2019-04-10).</em></p>
          </div>
        </section>
      </div>
      <button onclick="togglePrivacyModal()" class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="imprint" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Impressum</p>
        </header>

        <section class="modal-card-body">
          <div class="content">
            <h2>Angaben gemäß § 5 TMG:</h2>
            <p>Nikolas Knickrehm<br>
              Bülowstraße 51<br>
              23566 Lübeck<br>
            </p>
            <p>Telefon: 01724045090<br>
              E-Mail: me@nikolask.de</p>
          </div>
        </section>
      </div>
      <button onclick="toggleImprintModal()" class="modal-close is-large" aria-label="close"></button>
    </div>
  </body>
</html>
